.oe_suggestion_dropdown_items {
    .o_NotificationGroup_sidebar.oe_suggestion_hr_sidebar {
        margin: 0;
        border-bottom: 1px solid black;
        background-color: yellow;
        padding: 0.25rem;
    }
    .o_NotificationGroup_content.oe_suggestion_hr_content{
        margin: 0px;
        padding: 0.25rem;
        background: #cccc;
    }
}